<h1>What is your question?</h1>
<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="answer" placeholder="What do you want?" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
